.tarjeta p {
  font-size0: 18px;
  letter-spacing: 1px;
  line-height: 1;
  color: #3d3d3d;
  margin-bottom: .5rem;
}

.tarjeta h5 {
  font-size: 1.5rem;
  font-weight: 200;
  color: #0d0d0d;
  margin-bottom: 1.5rem;
}

.tarjeta h5:hover, .tarjeta h5:active {
  background-color: #dce4ff;
}

.card img {
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
}

.item {
  background-color: #fff;
  border-radius: .4rem;
  overflow: hidden;
  -webkit-box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.item:hover {
  -webkit-transform: translateY(-0.5%);
  transform: translateY(-0.5%);
  -webkit-box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2);
}

.card {
  height: 270px;
}

.card-text {
  font-weight: 400;
  font-family: 'Quicksand', sans-serif;
}

.subrayado a, h5 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor));
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  -webkit-transition: background-size .3s;
  transition: background-size .3s;
}

.subrayado a:hover, .subrayado a:focus {
  background-size: 100% 2px;
}

.imagen-saturada:hover img {
  -webkit-filter: saturate(180%);
  filter: saturate(180%);
}

.con-img:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.con-img {
  overflow: hidden;
}

.card-donaciones {
  height: 80%;
  width: 70%;
}
